node_modules
package-lock.json
log
config.yml
cache
log/
.idea/
.vscode/
container/mongo/data/*
container/nginx/config/ssl_conf/*
.env
__pycache__/
*.py[cod]
venv
htmlcov
coverage
.coverage
.pytest_cache
.DS_Store
pets_carentes_platform.code-workspace
bin/
lib/
lib64
pyvenv.cfg
